/***************/
/* YOUR STYLES */
/***************/

/* Color Palette */

.color-1 {
    background: red;
}

.color-2 {
    background: green;
}

.color-3 {
    background: blue;
}



/* Textures or Patterns*/

.pattern-1 {
    background: url();
    
    

/* Imagery */

    
    
    

/* Icons */


/* Typography */


/* Forms */


/* Tables */


/* Cards */