/***************/
/* YOUR STYLES */
/***************/

/* Color Palette */

.color-1 {
    background: rgb(90, 42, 56);
}

.color-2 {
    background: rgb(153, 117, 57)
}

.color-3 {
    background: rgb(240, 144, 119);
}



/* Textures or Patterns*/

.pattern-1 {
    background: url(https://s-media-cache-ak0.pinimg.com/236x/6e/e4/16/6ee4168e1bc750accd1d26c261827779.jpg) ;
}

.pattern-2 {
    background: url(http://bgfons.com/upload/brick_texture3420.jpg);
}

.pattern-3 {
    background: url(https://c1.staticflickr.com/3/2505/4038298414_94b71e4abe_b.jpg);
}
    
    

/* Imagery */

    
    
    

/* Icons */


/* Typography */

h1, h2, h3 {
    font-family: 'Nunito', sans-serif;
}

p {
    font-family: 'Vollkorn', serif;
}


/* Forms */


/* Tables */


/* Cards */